p {
    font-family: verdana;
    font-size:   12px;
  }
  body {
    background-color: Salmon;
  }
  h1{
    color: Green;
    text-align: Center;
  }
  table{
    font-family: verdana;
    font-size:   8px;
  }
  h3{
    color: Red
  }
    
  p  {
    font-family: verdana;
    font-size:   10px;
  }
  .small-text {
    font-size: 8px
  }
  
  .small-list {
    font-size: 10px;
  }
  
  h2{
    color: purple;
  }
  
  #red {
    color: red;
  }
  
  #orange {
    color: #fc5e03;
  }
  #blue {
    color: blue;
  }
  
  #gold {
    color: gold;
  }
  
  #cyan {
    color: #03d7fc;
  }
  
  #silver {
    color: silver;
  }